@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
.transitionBackground {
  -webkit-transition: background-color 0.75s ease-in-out;
  -moz-transition: background-color 0.75s ease-in-out;
  -o-transition: background-color 0.75s ease-in-out;
  transition: background-color 0.75s ease-in-out;
}
.transitionText {
  -webkit-transition: color 0.75s ease-in-out;
  -moz-transition: color 0.75s ease-in-out;
  -o-transition: color 0.75s ease-in-out;
  transition: color 0.75s ease-in-out;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
html {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
body {
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
small {
  display: block;
  font-size: 90%;
  padding: 1rem 0;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.container {
  width: 100%;
}
.container .row .col {
  width: 455px;
  margin: 0 auto;
  padding: 35px;
}
.container .row .col .form-group {
  width: 100%;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px 35px 35px  10px;
}
.container .row .col .form-group form {
  display: flex;
  justify-content: space-around;
  height: 40px;
  max-width: 80%;
  border: 2px solid #e94641;
  border-radius: 5px;
  -webkit-transition: background-color 0.75s ease-in-out;
  -moz-transition: background-color 0.75s ease-in-out;
  -o-transition: background-color 0.75s ease-in-out;
  transition: background-color 0.75s ease-in-out;
}
.container .row .col .form-group form #autocomplete-container {
  position: relative;
  z-index: 99;
  width: 75%;
}
.container .row .col .form-group form #autocomplete-container .form-control-input-placeolder {
  width: 100%;
  min-width: 270px;
  height: 100%;
  min-height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 18px;
  z-index: 9;
  color: #b9b9b9;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 2.3;
}
.container .row .col .form-group form #autocomplete-container input,
.container .row .col .form-group form #autocomplete-container .form-control-input {
  width: 100%;
  min-width: 270px;
  height: 100%;
  min-height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 18px;
  z-index: 9999;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #282828;
}
.container .row .col .form-group form #autocomplete-container input:focus,
.container .row .col .form-group form #autocomplete-container .form-control-input:focus {
  outline: none;
}
.container .row .col .form-group form #autocomplete-container input::placeholder,
.container .row .col .form-group form #autocomplete-container .form-control-input::placeholder {
  color: #282828;
}
.container .row .col .form-group form .form-control-icon {
  display: block;
  width: 16px;
  color: #e94641;
}
.container .row .col .form-group:hover {
  background-color: #e8e8e8;
  -webkit-transition: background-color 0.75s ease-in-out;
  -moz-transition: background-color 0.75s ease-in-out;
  -o-transition: background-color 0.75s ease-in-out;
  transition: background-color 0.75s ease-in-out;
}
.container .row .col .counter-control-text {
  margin-top: 15px;
}
.container .row .col .counter-control-text .counter-result {
  padding: 5px 0 10px 10px;
  display: block;
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
}
.container .row .col #match-list {
  width: 100%;
  transition: all 1.2s ease-in-out;
}
.container .row .col #match-list .list-item {
  min-height: 65px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #b9b9b9;
}
.container .row .col #match-list .list-item .list-item-img {
  width: 35px;
  height: 50px;
  margin: 0px 15px;
}
.container .row .col #match-list .list-item .list-item-img:hover {
  cursor: pointer;
}
.container .row .col #match-list .list-item .list-item-title-link {
  text-decoration: none;
  border-bottom: 1px solid #b9b9b9;
  color: #b9b9b9;
}
.container .row .col #match-list .list-item .list-item-title {
  margin: 0;
  text-decoration: none;
  border-bottom: 1px solid #b9b9b9;
  color: #282828;
  max-width: fit-content;
  font-size: 16px;
  line-height: 1;
  position: relative;
  -webkit-transition: color 0.75s ease-in-out;
  -moz-transition: color 0.75s ease-in-out;
  -o-transition: color 0.75s ease-in-out;
  transition: color 0.75s ease-in-out;
}
.container .row .col #match-list .list-item .list-item-title:hover {
  color: #282828 !important;
  -webkit-transition: color 0.75s ease-in-out;
  -moz-transition: color 0.75s ease-in-out;
  -o-transition: color 0.75s ease-in-out;
  transition: color 0.75s ease-in-out;
}
.container .row .col #match-list .list-item .list-item-desc {
  padding: 0;
  color: #282828;
  font-size: 10px;
}
.container .row .col #match-list .list-item:hover {
  background-color: #e8e8e8;
  -webkit-transition: background-color 0.75s ease-in-out;
  -moz-transition: background-color 0.75s ease-in-out;
  -o-transition: background-color 0.75s ease-in-out;
  transition: background-color 0.75s ease-in-out;
}
.container .row .col #match-list .list-item:hover .list-item-title,
.container .row .col #match-list .list-item:hover .list-item-desc {
  -webkit-transition: color 0.75s ease-in-out;
  -moz-transition: color 0.75s ease-in-out;
  -o-transition: color 0.75s ease-in-out;
  transition: color 0.75s ease-in-out;
  color: #b9b9b9;
}
